
.table_map {
  border-style: none;
  border: 0px;
  border-spacing: 0;
  border-collapse: collapse;
  padding: 0px;
  border-spacing: 0px;

  /*max-width:100%;
  height: auto;
  position: absolute;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

.img_map {
  max-width: 100%;
  height: auto;
  z-index: 1;
  display: block;
  /*background-size: 100% 100%;*/
}

.img2_map {
  max-width: 100%;
  height: auto;
  z-index: 3;
  display: block;
  position: absolute;
  bottom: 0px;
  right: 0px;
  /*background-size: 100% 100%;*/
}

.img3_map {
  max-width: 100%;
  height: auto;
  z-index: 3;
  display: block;
  position: absolute;
  bottom: 0px;
  right: 0px;
  /*background-size: 100% 100%;*/
}


.row_map {
  align: justify;
  vertical-align: middle;
}

.cell_map {
  padding-bottom: 0px;
  padding: 0px;
  background-color: black;  
}

.sprite_map {
  position: absolute;
  z-index: 3;
}

.dir_im {
  display: block;
  max-width: 100%;
  height: auto;
}

/*html, body {
  height: 100%;
  width: 100%;
}*/

/*.stretch {
  display: block;
  height: 100%;
  border: none;
}*/


body, a:hover {
      cursor: url(gam134.cur), progress !important;
}

body {
  background: url("/mp1_images/map_bg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* bootstrap edits */

/*div.container  {
  position: relative;
  display: inline;
}*/

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding: 0px 0px 0px 0px;
  margin:  0px 0px 0px 0px;

  position: relative;
  min-height: 1px;
}

.row {
  margin:  0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  /*position: absolute;
  bottom: 0;
  width="100%"
*/

  padding: 0px 10px 0px 10px;
  /*margin:  0px 0px 0px 0px;*/
  margin-right: auto;
  margin-left: auto;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.table-bordered {
  border: 1px solid #ddd;
}

table#player_info {
  background-color: gray;
}

table#player_stats {
  background-color: gray; 
}

.embed-responsive-16by16 {
  padding-bottom: 100%;
}



